@using AlloyTraining.Business.ExtensionMethods
@using AlloyTraining.Models.Pages
@using AlloyTraining.Models.ViewModels
@using EPiServer.Core
@model IPageViewModel<SitePageData>
<div class="alloyMenu">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse">
                    <ul>
                        <li>
                            @Html.ContentLink(ContentReference.StartPage)
                            <ul>
                                @foreach (SitePageData page in Model.MenuPages)
                                {
                                    <li>@Html.ContentLink(page.ContentLink)</li>
                                }
                            </ul>
                        </li>
                        <li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a href="/en/logout">Log out @User.Identity.Name</a>
                            }
                            else
                            {
                                <a href="@FormsAuthentication.LoginUrl?ReturnUrl=@Model.CurrentPage.PageLink.ExternalURLFromReference()">Log in</a>
                            }
                        </li>
                    </ul>

                    <div class="navbar-search pull-right">
                        @if (Model.StartPage != null)
                        {
                            if (PageReference.IsNullOrEmpty(Model.StartPage.SearchPageLink))
                            {
                                if (EPiServer.Editor.PageEditing.PageIsInEditMode)
                                {
                                    <div class="alert alert-danger">
                                        To enable search across the site,
                                        set the SearchPageLink property.
                                    </div>
                                }
                            }
                            else
                            { <form action="@Model.StartPage.SearchPageLink.ExternalURLFromReference()"
                                    method="post">
                                    <input type="text" class="search-query" name="q"
                                           id="SearchKeywords" placeholder="Search" />
                                    <input type="submit" class="searchButton" id="SearchButton" value="" />
                                </form>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
